/* resources/css/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Nunito', sans-serif;
}

#app {
    min-height: 90vh;
}

#map-container {
    width: 1500px;
    height: 800px;
    background-size: cover;
    border: 1px solid #d1d5db; /* border-gray-300 */
    cursor: crosshair;
    background-image: url('img/index/gridmap.png');
}

#map-container1 {
    position: relative;
    width: 100%;
    /* Make it responsive */
    max-width: 1500px;
    /* Maximum width */
    height: 800px;
    background-image: url('img/index/gridmap.png');
    background-size: cover;
    border: 1px solid #ccc;
    cursor: crosshair;
}

.marker {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    /* Agar titik tengah marker sesuai dengan posisi klik */
}
/* Contoh Grid Overlay (Optional) */
#grid-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* Make sure it doesn't interfere with clicks */
    /* You'll need to generate the grid with JavaScript or another method */
    /* This is just a placeholder */
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1) 1px, transparent 1px),
                      linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    background-size: 25px 25px;
    /* Adjust grid spacing */
}