/* resources/css/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Nunito', sans-serif;
}

#app {
    min-height: 90vh;
}

#map-container {
    width: 1500px;
    height: 800px;
    background-size: cover;
    border: 1px solid #d1d5db; /* border-gray-300 */
    cursor: crosshair;
    background-image: url('img/index/gridmap.png');
}/* Kontainer Map */
#map-container1 {
    position: relative;
    background-image: url('img/index/gridmap.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    aspect-ratio: 1500 / 800;
    max-width: 100%;
    border: 1px solid #ccc;
    cursor: crosshair;
}

/* Marker Style */
.marker {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}


.popup {
    transition: opacity 0.3s ease;
}
/* Sidebar khusus (form input) */
#sidebar-container {
    width: 100%;
    max-width: 400px;
}

/* Responsive helper jika ingin tambahan (optional) */
@media (max-width: 1024px) {
    #map-container1 {
        height: auto;
        aspect-ratio: 1500 / 800;
    }

    #sidebar-container {
        max-width: 100%;
        margin-left: 0;
    }
}